img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #042037;
  color: #D3DEE7;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 6vw;
}

hr {
  width: 80%;
  border-style: solid;
  background-color: #4B6F8B;
  height: 1px;
}

footer {
  margin: 2%;
  align-self: flex-end;
}
