img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #042037;
  color: #D3DEE7;
}

header {
  position: relative;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 3.157em;
}

footer {
  margin: 2%;
  align-self: flex-end;
}
