img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: #042037;
  color: #D3DEE7;
}

/*header stylings*/
header {
  position: relative;
  margin: 2% 0 0 0;
}

h1{
  text-align: center;
  font-size: 3.157em;
}

/*text styles*/
h2 {
  font-size: 2.369em;
  margin: 2%;
}

h3 {
  font-size: 1.777em;
  margin: 2%;
}

a {
  color: #AEAED1;
}

p {
  margin: 0 2% 0 2%;
  font-family: 'Alegreya', serif;
}

/*footer styles*/
footer {
  margin: 2%;
}
