#projects select{
  width: 85%;
  margin: 0.5% 5% 0 10%;
  font-size: 1.333em;
}

article {
  padding: 2%;
}

/*text styles*/

article h2 {
  font-size: 2.369em;
  margin: 2%;
}

article h3 {
  font-size: 1.777em;
  margin: 2%;
}

article a {
  margin: 2%;
  color: #AEAED1;
}

article p {
  margin: 0 2% 0 2%;
  font-family: 'Alegrya', serif;
}

/*list styles*/

article ul {
  margin: 2%;
}

article li {
  margin: 0 2% 0 2%;
  font-family: 'Alegrya', serif;
}

/*form styles*/

label {
  font-size: 1.333em;
}

label p {
  margin: 2%;
}

input {
  width: 50%;
  margin: 2%;
  border: 1px solid #AEAED1;
}

textarea {
  width: 50%;
  margin: 2%;
  border: 1px solid #AEAED1;
}

input[type="checkbox"] {
  width: .28em;
  height: .28em;
  font-size: 3em;
}
