/*nav styles*/
nav {
  margin: 1em 0 1em 0;
}

nav a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: #D3DEE7;
  padding: 2%;
}

nav ul {
  background-color: #4B6F8B;
  display: none;
  padding: 0;
  list-style: none;
}

nav:hover ul {
  display: block;
  padding: 0 7% 0 15%;
}

nav li {
  display: inline;
  margin: 0;
  font-size: 1.777em;
  padding: 2%;
}

nav li span {
  margin: 0 5% 0 0;
}

nav a:hover {
  background-color: #4C9475;
}

.icon-menu {
  position: absolute;
  top: 2em;
  left: .75em;
  font-size: 2em;
}

/*byline styles*/
.byline {
  margin: 2%;
}

.project-body {
  margin: 2%;
}

/*media querys*/
@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0 7% 0 7%;
  }

  nav:hover ul {
    display: flex;
    justify-content: space-around;
    padding: 0 7% 0 7%;
  }

  nav li {
    font-size: 1.45em;
  }

  nav li:hover {
    background-color: #4C9475;
  }
}
